<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upload an Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" multiple>
        <input type="hidden" name="user_agent" id="user_agent" value="">
        <input type="submit" value="Upload Image">
    </form>

    <h2>Uploaded Images</h2>
    <div class="image-container">
        {% for blob in blobs %}
            <div>
                <img src="{{ blob.url }}" alt="Uploaded Image" data-filename="{{ blob.name }}">
            </div>
        {% else %}
            <p>No images uploaded yet.</p>
        {% endfor %}
    </div>
    

    <!-- Pagination Controls -->
    <div class="pagination">
        {% if has_prev %}
            <a href="/?page={{ current_page - 1 }}">Previous</a>
        {% else %}
            <a class="disabled">Previous</a>
        {% endif %}

        {% if has_next %}
            <a href="/?page={{ current_page + 1 }}">Next</a>
        {% else %}
            <a class="disabled">Next</a>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
